{% extends "base.html" %}

{% block title %}Pokedex - Pokemon Universe{% endblock %}

{% block content %}
<section id="pokedex">
    <h2>Pokédex</h2>
    <p>Explora información detallada de cada Pokémon.</p>
    <div class="pokedex-grid">
        {% for pokemon in pokedex_list %}
        <div class="pokemon-card">
            <!-- Ruta corregida para apuntar a 'static/imagenes' -->
            <img src="/static/imagenes/{{ pokemon.imagen }}" alt="{{ pokemon.nombre }}" class="pokemon-image">
            <h3>{{ pokemon.nombre }}</h3>
            <p>{{ pokemon.descripcion }}</p>
        </div>
        {% else %}
        <p>No se encontraron Pokémon en la base de datos.</p>
        {% endfor %}
    </div>
</section>
{% endblock %}
