{% extends "base.html" %}

{% block content %}
<section id="trainers">
    <h2>Trainers</h2>
    <p>Meet skilled trainers from around the world and learn their strategies to become a Pokémon Master.</p>
    <div class="trainers-list">

        <div class="trainer-card">
            <img src="/static/images/ash_ketchum.png" alt="Ash Ketchum" class="trainer-image">
            <h3>Ash Ketchum</h3>
            <p>Region: Kanto</p>
            <p>Specialty: Electric and Flying types</p>
        </div>
        <!-- añadir entrenadores -->
    </div>
</section>
{% endblock %}
